<div>
  <div id="tab">
    <h3 id="formhead">Employee: Registration Form</h3>
  </div>

  <div id="pg1">
    <div class="flex-container">
      <div>
        <img
          src="../assets/images/background.jpg"
          style="height: 430px; width: 100%"
        />
        <h3><a routerLink="/List-User">Employee List</a></h3>
      </div>
      <div>
        <img
          src="../assets/images/bgpic.webp"
          style="height: 430px; width: 100%"
        />
        <h3><a routerLink="/Add-User">User Registration</a></h3>
      </div>
    </div>
  </div>
</div>
